{% extends 'master.html' %} {% load static %} {% block mycontent %}

<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(static/images/background/11.jpg)"
>
  <div class="auto-container">
    <div class="clearfix">
      <div class="pull-left">
        <h2>Advance GYM</h2>
        <div class="text">
          Fitness is not a destination it is a way of life.
        </div>
      </div>
      <div class="pull-right">
        <ul class="page-breadcrumb">
          <li><a href="index-2.html">home</a></li>
          <li>Advance GYM</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Page Title-->

<!--Sidebar Page Container-->
<div class="sidebar-page-container grey-bg">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Sidebar Side -->
      <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
        <aside class="sidebar padding-right">
          <!-- Services -->
          <div class="sidebar-widget">
            <ul class="service-list">
              <li><a href="classes.html">All Classess</a></li>
              <li><a href="psychoTraining.html">Psycho Training</a></li>
              <li><a href="selfDefence.html">Self Defence</a></li>
              <li><a href="fitnessForMan.html">Fitness For Man</a></li>
              <li><a href="strengthTraining.html">Strength Training</a></li>
              <li><a href="cardioForMan.html">Cardio For Man</a></li>
              <li class="current"><a href="advanceGym.html">Advance GYM</a></li>
            </ul>
          </div>

          <!-- Brochure -->
          <div class="sidebar-widget brochure-widget">
            <div class="brochure-box">
              <div class="inner">
                <span class="icon flaticon-pdf"></span>
                <div class="text">Download. PDF</div>
              </div>
              <a href="#" class="overlay-link"></a>
            </div>

            <div class="brochure-box">
              <div class="inner">
                <span class="icon flaticon-powerpoint-file"></span>
                <div class="text">Download. TXT</div>
              </div>
              <a href="#" class="overlay-link"></a>
            </div>
          </div>

          <!-- Help Widget -->
          <div class="sidebar-widget help-widget">
            <div class="widget-content">
              <div class="inner-box">
                <div class="image">
                  <img
                    src="{% static 'images/resource/classes.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="lower-content">
                  <h4>How Can We Help</h4>
                  <div class="text">
                    If you need any helps, please feel free to contact us.
                  </div>
                  <ul>
                    <li>
                      <span class="icon fa fa-phone"></span
                      ><a href="tel:+1-044-123-456-789">+1 (044) 123 456 789</a>
                    </li>
                    <li>
                      <span class="icon fa fa-envelope"></span
                      ><a href="mailto:info@example.com">info@example.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>

      <!-- Content Side -->
      <div class="content-side col-lg-8 col-md-12 col-sm-12">
        <div class="classes-detail">
          <div class="inner-box">
            <div class="image">
              <img
                src="{% static 'images/classes/AdvancedGym.jpg' %}"
                alt=""
              />
            </div>
            <div class="lower-content">
              <h3>Get Ready For Push Your Limits Further</h3>
              <p>
                High-intensity advanced gym training focuses on improving
                athletic skills, agility, strength, and recovery time. Build
                endurance while maximizing overall performance.
              </p>
              <div class="row clearfix">
                <div class="column col-lg-6 col-md-6 col-sm-12">
                  <ul class="list-style-two">
                    <li>Builds functional fitness</li>
                    <li>Improves body agility</li>
                    <li>Boosts physical balance</li>
                    <li>Enhances athletic skills</li>
                  </ul>
                </div>
                <div class="column col-lg-6 col-md-6 col-sm-12">
                  <ul class="list-style-two">
                    <li>Reduces muscle recovery time</li>
                    <li>Promotes workout intensity</li>
                    <li>Improves physical endurance</li>
                    <li>Sharpens peak performance</li>
                  </ul>
                </div>
              </div>
              <h3>Class Schedule</h3>
              <div class="row clearfix">
                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Monday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>

                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Tuesday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>

                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Wednesday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>

                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Thursday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>

                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Friday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>

                <!-- Schedule Column -->
                <div class="schedule-column col-lg-4 col-md-4 col-sm-12">
                  <div class="inner-column">
                    <h5>Saturday</h5>
                    <div class="time">
                      8:00 <span>AM</span> - 9:00 <span>AM</span>
                    </div>
                  </div>
                </div>
              </div>

              <h3>Benefits</h3>
              <p>
                Our trading solutions empower clients to streamline and enhance
                their front, middle, and back-office operations. We offer
                comprehensive services tailored for buy-side, sell-side, and
                market infrastructure firms, ensuring efficiency, innovation,
                and growth.
              </p>
              <div class="row clearfix">
                <div class="column col-lg-6 col-md-6 col-sm-12">
                  <ul class="list-style-two">
                    <li>Enhance Your Body’s Natural Balance</li>
                    <li>Boost Productivity & Workflow Efficiency</li>
                    <li>Sculpt a Strong & Healthy Physique</li>
                    <li>Exclusive & Flexible Membership Plans</li>
                  </ul>
                </div>
                <div class="column col-lg-6 col-md-6 col-sm-12">
                  <ul class="list-style-two">
                    <li>Stay Energized & Focused Every Day</li>
                    <li>Alleviate Stress & Improve Mental Clarity</li>
                    <li>Personalized Daily Fitness Sessions</li>
                    <li>Achieve Strength, Stability & Well-being</li>
                  </ul>
                </div>
              </div>
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
